{% extends "main.html" %}

{% block content %}
  {% load mptt_tags %}
  <h1>Categories</h1>
  <ul>
    {% recursetree categories %}
      <li>
        <a href='{% url "category" node.id %}'>{{ node.name }}</a>
        <p>Category Products total: {{ node.products.all.count }}</p>
        <p>
          Subcategory Products total: 
          <span>
            {% with total_products=0 %}
              {% for subcategory in node.get_children %}
                {% with subcategory_products_count=subcategory.products.all.count %}
                  {% with total_products=total_products|add:subcategory_products_count %}
                  {% endwith %}
                {% endwith %}
              {% endfor %}
              {{ total_products }}
            {% endwith %}
          </span>
        </p>
      </li>
    {% endrecursetree %}
  </ul>
{% endblock content %}
